<div class="breadcrumb">
	<%= render_breadcrumbs separator: ' > ' %>
</div>
<div class="container">
	<div class="row">
		<% if flash[:notice] %>
			<div class="col-12 notice-message">
				<%= flash[:notice] %>
			</div>
		<% elsif flash[:error] %>
			<div class="col-12 error-message">
				<i class="fa fa-exclamation-circle"></i><%= flash[:error] %>
			</div>
		<% end %>
		<h4 class="col-12">プロフィール</h4>
		<div class="col-12 col-md-10">
			<div class="row user-info">
				<div class="col-3 col-sm-3">
					<%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', class: "prof-img", fallback: "1560031.jpg", size:'100x100' %>
				</div>
				<div class="col-12 col-sm-9 user-text">
					<h5>
						<strong>
						<%= @user.name %>
						<% if @user.id == current_user.id %>
							<i class="fa fa-ticket fa-lg" style="color: orange;"></i>x<%= @user.ticket %>
							<%= link_to edit_users_user_path(@user) do %>
								<button class="btn btn-success">編集する<i class="fa fa-edit fa-lg"></i></button>
							<% end %>
						<% else %>
							<%= link_to new_users_user_report_path(@user) do %>
								<button class="btn btn-danger">通報する<i class="fa fa-bullhorn"></button></i>
							<% end %>
						<% end %></strong>
					</h5>
					<p class="introduction"><%= safe_join(@user.introduction.split("\n"),tag(:br)) %></p>
				</div>
			</div>
		</div>
	</div>
</div>

