<ol class="breadcrumb">
	<%= render_breadcrumbs :tag => :li, :separator => " > " %>
</ol>
<div class="container">
	<div class="row">
		<% if flash[:notice] %>
			<div class="col-12 alert alert-success">
				<%= flash[:notice] %>
			</div>
		<% elsif flash[:error] %>
			<div class="col-12 alert alert-danger">
				<i class="fa fa-exclamation-circle"></i><%= flash[:error] %>
			</div>
		<% end %>
		<div class="col-12 col-md-8">
			<div class="row user-info">
				<div class="col-12">
					<%= attachment_image_tag @user, :image, :fill, 150, 150, format: 'jpeg', class: "prof-img", fallback: "1560031.jpg" %>
					<h1 style="line-height: 100px;"><strong><%= @user.name %></strong></h1>
					<div class="user-text">
						<% if not @user.introduction.blank? %>
							<p class="introduction"><%= safe_join(@user.introduction.split("\n"),tag(:br)) %></p>
						<% end %>
					</div>
					<% if @user == current_user %>
						<%= link_to edit_users_user_path(@user) do %>
							<button class="btn btn-outline-success btn-sm m-0">編集する<i class="fa fa-edit fa-lg"></i></button>
						<% end %>
					<% else %>
						<%= link_to new_users_user_report_path(@user) do %>
							<button class="btn btn-danger btn-sm">通報する <i class="fa fa-bullhorn"></button></i>
						<% end %>
			  	<% end %>
				</div>
			</div>
			<hr class="my-4">
			<div class="row eval-chart">
				<div class="col-12 user-text">
					<ul class="horizontal-list">
						<li class="evaluation-item">
							<div>
								<p>
									<strong>
									【 助っ人としての評価 】
									<% if @user != current_user %>
										<%= link_to "評価詳細", users_user_evaluations_path(@user), class: "btn btn-outline-info btn-sm" %>
										<%= link_to "助っ人履歴", users_user_participant_histories_path(@user), class: "btn btn-outline-info btn-sm" %>
									<% end %>
									</strong>
								</p>
								<%= pie_chart(@chart) %>
							</div>
						</li>
						<li class="evaluation-item">
							<div>
								<p>
									<strong>
									【 依頼者としての評価 】
									<% if @user != current_user %>
										<%= link_to "依頼履歴", users_user_request_histories_path(@user), class: "btn btn-outline-info btn-sm" %>
									<% end %>
									</strong>
								</p>
								<%= pie_chart(@chart2) %>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<%= render 'layouts/profile', user: current_user, requests: @progress_requests, participants: @progress_participants, keeps: @keeps %>
	</div>
</div>