<div class="container-fluid">
	<%= render_breadcrumbs separator: ' > ' %>
	<div class="row">
		<%= render 'layouts/profile', user: current_user %>
		<div class="col-sm-12 col-md-7 col-lg-8">
			<% if flash[:error] %>
				<div class="row">
					<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 error-message">
						<i class="fa fa-exclamation-circle"></i><%= flash[:error] %>
					</div>
				</div>
			<% end %>
			<%= render 'layouts/error_messages', model: @purchase %>
			<div class="row">
				<h3 class="col-sm-12 col-md-12">チケット購入</h3>
				<div class="col-sm-12 col-md-12 purchase-form">
					<%= form_with model:@purchase, local:true, url: users_purchases_path, class: "form-horizontal" do |f| %>
						<div class="form-group row">
							<%= f.label :"", class: "col-4 col-form-label" do %>
								購入するチケット <span class="badge badge-danger">必須</span>
							<% end %>
							<div class="col-8">
								<%= f.collection_select :ticket_id, @tickets, :id, :name, prompt: "購入するチケット", class: "form-control" %>
							</div>
						</div>
						<div class="form-group row">
							<%= f.label :"", class: "col-4 col-form-label" do %>
								購入数 <span class="badge badge-danger">必須</span>
							<% end %>
							<div class="col-8">
								<%= f.select :quantity, [1, 2, 3, 4, 5], prompt: "購入数" %>
							</div>
						</div>
						<div class="form-group row">
							<%= f.label :"", class: "col-4 col-form-label" do %>
								支払方法 <span class="badge badge-danger">必須</span>
							<% end %>
							<div class="col-8">
								<div class="btn-group btn-group-toggle" data-toggle="buttons">
									<label class="btn btn-outline-primary active">
										<%= f.radio_button :payment_method, "クレジットカード", {checked: true} %>クレジットカード
									</label>
									<label class="btn btn-outline-primary">
										<%= f.radio_button :payment_method, "銀行振込", {} %>銀行振込
									</label>
								</div>
							</div>
						</div>
						<div>
							<%= f.submit "購入する", class: "btn btn-outline-danger", style: "margin-top: 10px; width: 100%;", data: { confirm: "<i class='fa fa-exclamation-circle'></i>この内容で購入しますか？",
		                                cancel: "戻る",
		                                commit: '購入する' } %>
						</div>
					<% end %>
				</div>
			</div>
			<div class="row" id="purchase-table">
				<table class="col-12 table table-bordered table-title ">
					<thead>
						<tr>
							<th><%= current_user.name %>さんのチケット購入履歴</th>
						</tr>
					</thead>
				</table>
				<table class="col-12 table table-bordered">
					<thead>
						<tr>
							<th>購入日</th>
							<th>チケット名</th>
							<th>購入数</th>
							<th>請求額</th>
							<th>支払方法</th>
						</tr>
					</thead>
					<tbody>
						<% @purchases.each do |purchase| %>
							<tr>
								<td><%= purchase.created_at.strftime('%Y/%m/%d') %></td>
								<td><%= purchase.ticket.name %></td>
								<td><%= purchase.quantity %></td>
								<td><%= purchase.charge %></td>
								<td><%= purchase.payment_method %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<%= paginate @purchases %>
			</div>
		</div>
	</div>
</div>