<ol class="breadcrumb">
	<%= render_breadcrumbs :tag => :li, :separator => " > " %>
</ol>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-8">
			<div class="row">
				<div class="col-12 form-box">
					<h2>チケット購入</h2>
					<% if flash[:error] %>
						<div class="row">
							<div class="col-12 alert alert-warning">
								<%= flash[:error] %>
							</div>
						</div>
					<% end %>
					<%= render 'layouts/error_messages', model: @purchase %>
					<%= form_with model:@purchase, local:true, url: users_purchases_path, class: "form-horizontal" do |f| %>
						<div class="form-group row">
							<%= f.label :"", class: "col-12 col-sm-5 col-form-label" do %>
								購入するチケット <span class="badge badge-danger">必須</span>
							<% end %>
							<div class="col-12 col-sm-7">
								<%= f.collection_select :ticket_id, @tickets, :id, :name, prompt: "購入するチケット", class: "form-control" %>
							</div>
						</div>
						<div class="form-group row">
							<%= f.label :"", class: "col-12 col-sm-5 col-form-label" do %>
								購入数 <span class="badge badge-danger">必須</span>
							<% end %>
							<div class="col-12 col-sm-7">
								<%= f.select :quantity, [1, 2, 3, 4, 5], prompt: "購入数" %>
							</div>
						</div>
						<div class="form-group row">
							<%= f.label :"", class: "col-12 col-sm-5 col-form-label" do %>
								支払方法 <span class="badge badge-danger">必須</span>
							<% end %>
							<div class="col-12 col-sm-7">
								<div class="btn-group btn-group-toggle" data-toggle="buttons">
									<label class="btn btn-outline-primary active">
										<%= f.radio_button :payment_method, "クレジットカード", {checked: true} %>クレジットカード
									</label>
									<label class="btn btn-outline-primary">
										<%= f.radio_button :payment_method, "銀行振込", {} %>銀行振込
									</label>
								</div>
							</div>
						</div>
						<div>
							<%= f.submit "購入する", class: "btn btn-outline-danger", style: "margin-top: 10px; width: 100%;", data: { confirm: "<i class='fa fa-exclamation-circle'></i>この内容で購入しますか？",
		                                cancel: "戻る",
		                                commit: '購入する' } %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<%= render 'layouts/profile', user: current_user, requests: @progress_requests, participants: @progress_participants %>
	</div>
</div>