<div class="container">
	<h3 class="col-12 col-md-12">依頼一覧</h3>
	<div class="row d-flex flex-wrap">
		<% @requests.each do |request| %>
			<div class="req-box col-12 col-md-6 offset-md-0">
				<div class="req-img">
					<%= attachment_image_tag request, :image, :fill, 150, 100, format: 'jpg', fallback: "1560031.jpg", size: '130x100' %>
					<p>依頼者 : <%= link_to request.user.name, users_user_path(request.user), class: "link" %></p>
				</div>
				<div class="req-text">
					<p class="title"><%= link_to request.title, users_request_path(request), class: "link" %></p>
					<p class="content"><%= request.content %></p>
					<p class="req-info"><%= request.created_at %><br>助っ人登録数 : <%= request.participants.count %>/<%= request.capacity %></p>
				</div>
			</div>
		<% end %>
	</div>

	<%= paginate @requests %>
</div>