<% set_meta_tags title: '助っ人依頼一覧', description: '多くの人々が助っ人を必要としています。' %>
<ol class="breadcrumb">
	<%= render_breadcrumbs :tag => :li, :separator => " > " %>
</ol>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-8">
			<div class="row search-form">
				<div class="col-12">
					<%= form_tag(users_requests_path,:method => 'get') do %>
					  <%= text_field_tag :search %>
					  	<span></span>
					  <%= button_tag :type => "submit", class: "btn btn-outline-light btn-sm" do %>
					  	<i class="fa fa-search"></i>検索
					 	<% end %>
					<% end %>
				</div>
				<div class="col-12">
					<% if params[:search] %>
						" <span style="color: red;"><%= params[:search] %></span> "の検索結果
					<% end %>
				</div>
			</div>
			<div class="row form-box">
				<% @requests.each do |request| %>
					<%= render "users/participant_histories/participant_box", request: request %>
				<% end %>
				<%= paginate @requests %>
			</div>
		</div>
		<%= render 'layouts/profile', user: current_user, requests: @progress_requests, participants: @progress_participants, keeps: @keeps %>
	</div>
</div>